body {
	background-color: black;
	text-align: center;
	color: white;
}

h1 {
	color: white;
	font-size: 48px;
	font-weight: bold;
	font-style: "AR DESTINE";
}

#slogan {
	font-style: italic;
	font-size: 36px;
}